div{
    border: solid 1px  #000;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 20px;
}

#b1{
    background-color: aqua;
    border-radius: 50%;
}
#b2{
    background-color: blue;
    border-radius: 50%;
}
#b3{
    background-color: blueviolet;
    border-radius: 50%;
}
.q1{background-color: chartreuse;}
.q2{background-color: tomato;}
.q3{background-color: yellow;}